/* El Css del Ticket */
.vistaimprimir {
    font-size: 12px;
    font-family: 'Times New Roman';
}


#tableticket {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 80px;
    max-width: 80px;
}

td.cantidad,
th.cantidad {
    width: 45px;
    max-width: 45px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 45px;
    max-width: 45px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 170px;
    max-width: 170px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print{
    .oculto-impresion, .oculto-impresion *{
      display: none !important;
    }
  }

.btn-espacio{
    margin-top: 10px;
    margin-left: 5px;
}