<div class="container col">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="margin-left: 10px; color: blue;">MENÚ DE OPCIONES</a>
    
    <div>
      <ul class="navbar-nav">
        <li class="espaciado-botones">
          <a title="Movimientos de la caja" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" type="submit" routerLink="/cajadiaria" *ngIf="isLogged" style="background-color: gainsboro;"><i class="fa-solid fa-cash-register"></i>  Ver Caja</a>
        </li>
        <!--<li class="espaciado-botones">
          <a title="Comprobantes" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" type="submit" routerLink="/caja" *ngIf="isLogged" style="background-color: gainsboro;"><i class="fa-solid fa-receipt"></i>  Comprobantes</a>
        </li> -->
        <li class="espaciado-botones">
          <a title="Menú Productos" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" type="submit" routerLink="/menuarticulos" *ngIf="isLogged" style="background-color: gainsboro;"><i class="fa-regular fa-square-plus"></i>  Productos</a>
        </li>
        <li class="espaciado-botones">
          <a title="Menú Mesas" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" type="submit" routerLink="/menumesas" *ngIf="isLogged" style="background-color: gainsboro;"><i class="fa-solid fa-chair"></i>  Mesas</a>
        </li>
        <li class="espaciado-botones">
          <a title="Editar Plano" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" type="submit" routerLink="/verplano" *ngIf="isLogged" style="background-color: gainsboro;"><i class="fa-regular fa-map"></i>  Editar Plano</a>
        </li>
        <li class="espaciado-botones">
          <a title="Colaboradores" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" type="submit" routerLink="/colaboradores" *ngIf="isLogged" style="background-color: gainsboro;"><i class="fa-solid fa-user"></i>  Colaboradores</a>
        </li>
        <li class="espaciado-botones">
          <a title="Ventas" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" type="submit" routerLink="/ventas" *ngIf="isLogged" style="background-color: gainsboro;"><i class="fa-brands fa-sellsy"></i>  Ventas</a>
        </li>
        <li class="espaciado-botones">
          <a title="Stock" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" type="submit" routerLink="/stock" *ngIf="isLogged" style="background-color: gainsboro;"><i class="fa-solid fa-warehouse"></i>  Stock</a>
        </li>
        <li class="espaciado-botones">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="login()" *ngIf="!isLogged" >LOGIN</button>
        <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="onLogout()" *ngIf="isLogged">LOGOUT</button>
      </li>
       
      </ul>
    </div>
  </nav>
</div>
<img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664566586/APP%20PARRILLA%20EL%20FOGON/barrafondomaschica_i9obkd.png" class="img-fluid" alt="Responsive image">
