
<div class="container col">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="margin-left: 10px; color: blue;">MENÚ DE OPCIONES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="espaciado-botones">
          <a title="Nuevo Producto" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" type="submit" *ngIf="isLogged" style="background-color: gainsboro;"><i class="fa-solid fa-cash-register"></i>  Ver Caja</a>
        </li>
        <li class="espaciado-botones">
          <a title="Nuevo Producto" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" type="submit" routerLink="/menuarticulos" *ngIf="isLogged" style="background-color: gainsboro;"><i class="fa-regular fa-square-plus"></i>  Nuevo Producto</a>
        </li>
        <li class="espaciado-botones">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="login()" *ngIf="!isLogged" >LOGIN</button>
        <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="onLogout()" *ngIf="isLogged">LOGOUT</button>
      </li>
       
      </ul>
    </div>
  </nav>
</div>