<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">ATENCIÓN</h4>
    </div>
    <div class="modal-body">
      <h3>Desea abrir la mesa {{Mesas.numeroMesa}}?</h3>

    </div>
    
    <div class="modal-footer">
      <input type="text" class="form-control" [(ngModel)]="Mesas.cierre" style="display: none;">
      <button type="button" class="btn btn-success" (click)="verBotonAgregar()" >
          Abrir
        </button>
      <button type="button" class="btn btn-danger" 
              (click)="closePopup()">
        Cancelar
      </button>
      
    </div>
  </div>
</div>
</div>
<div class="container fondoEdit">
    <div class="row" id="textosColor">
        <div>
            <form novalidate #f="ngForm">
                
                <div class="card text-center">
                    <div class="card-header">
                        <h3>MESA N°: {{Mesas.numeroMesa}}</h3>
                    </div>
                    <ng-template [ngIf]="verBoton()">
                    <div class="card-body">
                      <h5 class="card-title">Abrir mesa para comenzar a agregar articulos a la comanda</h5>
                     
                      <button class="btn btn-primary" (click)="openPopup();abrirMesa()">ABRIR MESA</button>
                    </div>
                  </ng-template>
                    <div class="card-footer text-muted">
                     <input type="text" class="form-control" [(ngModel)]="Mesas.estado" style="display: none;">
                     <h3>ESTADO: {{Mesas.estado}}</h3>
                    </div>
                  </div>
                  <mat-slide-toggle [(ngModel)]="Mesas.cierre" (ngModelChange)="cambioCierre()">

                  </mat-slide-toggle>
                  <ng-template [ngIf]="verBotonAgrega()">
                  <div>
                    <button type="button" class="btn btn-success" (click)="mostrarComanda()">
                        Agregar Articulos
                      </button>
                      
                    </div> 
                  </ng-template> 
                    <div class="card-body" id="comandaArt" [ngStyle]="{'display':verComanda}">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                       
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        
                                        
                                        <th>Precio</th>
                                        
                                        <th>Eliminar</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                    <tbody *ngFor="let Articulos of producto">
                        <tr>
                            <td><img id="imgArticulo" [src]="[Articulos.imagen]"></td>
                            <td>{{Articulos.nombre}}</td>
                            
                            <td>{{Articulos.precioventa}}</td>
                        
                        </tr>  
                        </tbody>
                        </table>  
              </div>
          </div>
                 
                       
               <button class="btn btn-success" id="botonAgregar" (click)="onUpdate()">
                    GUARDAR CAMBIOS
                </button>
                <button class="btn btn-danger" id="botonAgregar" (click)="cancelar()">
                    CANCELAR
                </button>
                
            </form>
          
</div>