<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">ATENCIÓN</h4>
    </div>
    <div class="modal-body">
      <h3>Desea abrir la mesa {{Mesas.numeroMesa}}?</h3>

    </div>
    
    <div class="modal-footer">
      <input type="text" class="form-control" [(ngModel)]="Mesas.cierre" style="display: none;">
      <button type="button" class="btn btn-success" (click)="abrirMesa();verBotonAgregar();verBotonGuardar();guardaYcontinua()" >
          Abrir
        </button>
      <button type="button" class="btn btn-danger" 
              (click)="closePopup()">
        Cancelar
      </button>
      
    </div>
  </div>
 </div>
</div>

<div class="container fondoEdit">
    <div class="row" id="textosColor">
        <div [ngStyle]="{'display':VistaNormal}">
            <form novalidate #f="ngForm">
                
                <div class="card text-center">
                    <div class="card-header">
                        <h3>MESA N°: {{Mesas.numeroMesa}}</h3>
                    </div>
                    <ng-template [ngIf]="verBoton()">
                    <div class="card-body">
                      <h5 class="card-title" [ngStyle]="{'display':verabrirdespuesdelcierre}">Abrir mesa para comenzar a agregar articulos a la comanda</h5>
                     
                      <button class="btn btn-primary" (click)="openPopup()" [ngStyle]="{'display':verabrirdespuesdelcierre}">ABRIR MESA</button>
                    </div>
                  </ng-template>

                  <ng-template [ngIf]="verBoton()">
                    <div class="card-footer text-muted" id="CardEstadoAbierta">
                     <input type="text" class="form-control" [(ngModel)]="Mesas.estado" style="display: none;">
                     <h3>ESTADO: {{Mesas.estado}}</h3>
                    </div>
                  </ng-template>

                  <ng-template [ngIf]="NoVerBoton()">
                    <div class="card-footer text-muted" id="CardEstadoCerrada">
                     <input type="text" class="form-control" [(ngModel)]="Mesas.estado" style="display: none;">
                     <h3>ESTADO: {{Mesas.estado}}</h3>
                    </div>
                  </ng-template>

                  </div>
                  <mat-slide-toggle [(ngModel)]="Mesas.cierre" (ngModelChange)="cambioCierre()"></mat-slide-toggle>
                  <ng-template [ngIf]="verBotonAgrega()">
                  <div class="d-flex justify-content-end">
                    <button id="BtnAgregarArt" type="button" class="btn btn-success" (click)="mostrarComanda();DevolverLista();verBotonGuardar()">
                        Agregar Articulos
                      </button>
                      
                    </div> 
                  </ng-template> 
         
          
          <div class="row"> 
          <div class="col-sm-7">

            <!--Sacar este recuadro
              <div class="card">
              <div class="card-body">
                <h5 class="card-title">Productos agregado a esta Mesa</h5>
                <p>NADA PARA MOSTRAR</p>

                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                              <th>Imagen</th>
                              <th>Nombre</th>
                              <th>Cantidad</th>
                              <th>Precio</th>
                           
                          </tr>
                      </thead>
          <tbody *ngFor="let art of sinceros">
              <tr>
                  <td><img id="imgArticulo" [src]="[art.imagen]"></td>
                  <td>{{art["nombre"]}}</td>
                  <td>{{art["cantidad"]}}</td>
                  <td>{{art["precioventa"] | currency: '$'}}</td>
              </tr>  
              </tbody>
              </table>  
         </div>


                <button class="btn btn-primary" (click)="guardarCambios()">Guardar Cambios</button>
                <button class="btn btn-primary" (click)="DevolverLista()">Traer lista</button>
              </div>
            </div>
          -->
          
          <ng-template [ngIf]="verBotonAgrega()">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">PRODUCTOS AGREGADOS A ESTA MESA</h5>
                <button class="btn btn-primary" (click)="DevolverLista()" style="margin-bottom: 10px;">VER PRODUCTOS DE ESTA MESA</button>

                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <ng-template [ngIf]="filtroBarraTabla()">
                    <thead>
                          <tr>
                              <th>Imagen</th>
                              <th>Nombre</th>
                              <th>Cantidad</th>
                              <th>Precio</th>
                              <th>Subtotal</th>
                          </tr>
                      </thead>
                    </ng-template>
                      <tbody *ngFor="let art of traelo">
                        <tr>
                            <td><img id="imgArticulo" [src]="[art.imagen]"></td>
                            <td>{{art.nombre}}</td>
                            <td>{{art["cantidad"]}}</td>
                            <td>{{art["precioventa"] | currency: '$'}}</td>
                            <td>{{art.cantidad * art.precioventa | currency: '$'}}</td>
                        </tr>  
                        </tbody>
                        <p id="novertotal">Total Orden: {{TotalComanda() | currency: '$'}}</p>
                        <h3 style="text-align: end;">Total En Orden: {{Mesas.totalComanda | currency: '$'}}</h3>
                       
              </table>  
           </div>

           <!---
                <button class="btn btn-primary" (click)="guardarCambios()">Guardar Cambios</button>
                <button class="btn btn-primary" (click)="TraeloDale()">Dale</button>
           --->
              </div>
            </div>
          </ng-template>
          </div>
        
          
          <div class="col-sm-5">
            
              <div class="card-body" id="comandaArt" [ngStyle]="{'display':verComanda}">
                  <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        
                                    </tr>
                                </thead>
                    <tbody *ngFor="let Articulos of producto">
                        <tr>
                            <td><img id="imgArticulo" [src]="[Articulos.imagen]"></td>
                            <td>{{Articulos.nombre}}</td>
                            <td>{{Articulos.precioventa | currency: '$'}}</td>
                            <td>
                            
                              <!--
                              <ng-template [ngIf]="CantidadCero(Articulos)">
                            <button id="BtnAgregarItem" type="button" class="btn btn-danger" (click)="DelItem(Articulos)">
                              -
                            </button>
                          </ng-template> 
                          
                          
                          <button id="BtnAgregarItem" type="button" class="btn btn-success" (click)="AddItem(Articulos)">
                            +
                          </button>-->

                          <button id="BtnAgregarItem" type="button" class="btn btn-danger" (click)="SacarSinRepetir(Articulos)">
                            -
                          </button> 
                          <button id="BtnAgregarItem" type="button" class="btn btn-success" (click)="AgregarSinRepetir(Articulos)">
                            +
                          </button> 
                          
                          
                       
                          </td>
                            
                        
                        </tr>  
                        </tbody>
                        </table>  
                   </div>
             </div>
            
          </div>
        
        </div>       
             

        <button class="btn btn-success espacio-btn" id="botonAgregar" (click)="guardarCambios();onUpdate();" >
          CONFIRMAR CAMBIOS
      </button>

        <ng-template [ngIf]="NoVerBoton()">
               
                <button id="BtnAgregarItem" type="button" class="btn btn-danger espacio-btn" (click)="cerrarMesa();verBotonGuardar();">
                  CERRAR MESA
                </button> 
              </ng-template>
              
                
                <ng-template [ngIf]="templateRendirMesa()">
                  <h3>Total a Cobrar: {{Mesas.totalComanda | currency: '$'}}</h3>
              <button id="BtnAgregarItem" type="button" class="btn btn-warning espacio-btn" (click)="rendirDineroMesa();verBotonGuardar()">
                DINERO RENDIDO
              </button> 
              <button id="BtnAgregarItem" type="button" class="btn btn-warning espacio-btn" (click)="MostrarVistaImpresion()">
                IMPRIMIR TICKET
              </button> 
            </ng-template>
                <button class="btn btn-danger espacio-btn" id="botonAgregar" (click)="cancelar()">
                    CANCELAR
                </button>
            </form>
          
            <input
  #identificador    
  type="text"
  placeholder="Para testear"          
  autocomplete="off"    
/>
<button  
  type="button"  
  (click)="getInputValue(identificador.value)"
>
TEST
</button>


</div>

<div class="col align-self-start">
<div class="vistaimprimir" [ngStyle]="{'display':verSoloImpresion}">
  <div class="ticket">
    <img
        src="https://yt3.ggpht.com/-3BKTe8YFlbA/AAAAAAAAAAI/AAAAAAAAAAA/ad0jqQ4IkGE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg"
        alt="Logotipo">
    <p class="centrado">Comanda de Mesa N°{{Mesas.numeroMesa}}
        <br>{{FechaTicket}}
        
        
    <table id="tableticket">
        <thead>
            <tr>
                <th class="cantidad">CANT</th>
                <th class="producto">PRODUCTO</th>
                <th class="precio">SUBT</th>
            </tr>
        </thead>
        <tbody *ngFor="let articulos of traelo">
            <tr>
                <td class="cantidad centrado">{{articulos["cantidad"]}}</td>
                <td class="producto">{{articulos.nombre}}</td>
                <td class="precio">{{articulos.cantidad * articulos.precioventa}}</td>
            </tr>
        </tbody>
        <tr>
          
          <td class="cantidad"></td>
          <td class="cantidad"><strong>TOTAL   $</strong></td>
          <td class="precio"><strong>{{Mesas.totalComanda}}</strong></td>
      </tr>
    </table>
    <p class="precio centrado">-------------------------------------</p>
    <p class="centrado">¡GRACIAS POR SU COMPRA!
        <br>PARRILLA EL FOGON</p>
</div>
<button id="BtnAgregarItem" type="button" class="btn btn-warning espacio-btn oculto-impresion" (click)="ImprimirTicket();cancelar()">
  CONFIRMAR
</button>
<button class="btn btn-danger espacio-btn oculto-impresion" id="botonAgregar" (click)="cancelar()">
  CANCELAR O VOLVER
</button>

</div>
</div>