#imgArticulo{
    width: 64px;
    vertical-align: middle;
    border-radius: 50px;
}

#BtnAgregarArt{
    margin-bottom: 5px;
    margin-top: 5px;
}

#CardEstadoCerrada{
    background-color:lightgreen;
}
#CardEstadoAbierta{
    background-color:tomato;
}

#BtnAgregarItem{
    margin-right: 8px;
}

.espacio-btn{
    margin: 8px 8px 8px 8px;

}
#novertotal{
    color: white;
}

/* El Css del Ticket */
.vistaimprimir {
    font-size: 14px;
    font-family: Arial;
}


#tableticket {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 130px;
    max-width: 130px;
}

td.cantidad,
th.cantidad {
    width: 50px;
    max-width: 50px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 70px;
    max-width: 70px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 220px;
    max-width: 220px;
}

img {
    max-width: inherit;
    width: inherit;
}
/*Agregado de un spinner de carga de linea 78 a 97*/
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    border-top: 3px solid #3498db;
    border-right: 3px solid transparent;
    border-radius: 50%;
    animation: spinner 0.5s linear infinite;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


@media print{
    .oculto-impresion, .oculto-impresion *{
      display: none !important;
    }
  }