#imgArticulo{
    width: 64px;
    vertical-align: middle;
    border-radius: 50px;
}

#BtnAgregarArt{
    margin-bottom: 5px;
    margin-top: 5px;
}

#CardEstadoCerrada{
    background-color:lightgreen;
}
#CardEstadoAbierta{
    background-color:tomato;
}

#BtnAgregarItem{
    margin-right: 8px;
}

.espacio-btn{
    margin: 8px 8px 8px 8px;

}
#novertotal{
    color: white;
}