<div class="container fondoEdit">
    <div class="row" id="textosColor">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                
                <div class="form-group">
                    <label for="numeroMesa"> Número de Mesa</label>
                    <input type="text" class="form-control" id="numeroMesa" name="numeroMesa" [(ngModel)]="Mesas.numeroMesa" required>
                </div>
                
                              
                <button class="btn btn-success" id="botonAgregar">
                    MODIFICAR MESA
                </button>
                <button class="btn btn-danger" id="botonAgregar" (click)="cancelar()">
                    CANCELAR
                </button>
                
            </form>
        </div>
    </div>
</div>