#espacioArriba{
    margin-top: -50px;
}

h2{
    color: red;
    align-self: center;
    margin-left: 50px;
}
.content {
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;   
    padding-bottom: 10px;
    background-color: steelblue;
    width: 100%;
    color: white;
}

.left {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    border: steelblue solid 1px;
    height: auto;
}

.right {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    border: steelblue solid 1px;
    height: auto;
}

.imgHor{
    width: 43px; 
    height: 92px;
    margin: 10px 10px;
}

.posicionId{
    margin-left: 26px;
    color: red;
    font-size: 16px;
    font-family: Impact;
}

#idfila1{
    margin-left: 45px;
}
#idfila2{
    margin-left: -10px;
    margin-top: -290px;
}

#parrillaybarra{
    margin-top: 10px;
    width: 200px; 
    height: 200px;
}
#fila1A{
    margin-top: -50px;
    margin-left: 30px;
}
#fila2A{
    margin-top: -660px;
    margin-left: -25px;
    margin-right: 70px;
}
#linea1{
    width: 450px;
    height: 100px; 
    margin-left: -15px;
    margin-bottom: 300px;
}
#linea2{
    width: 100px;
    height: 285px; 
    margin-left: -60px;
    margin-top: -550px;
}