<div class="content">
        <h2>Distribucion de las mesas</h2>
        <div class="left">
            <div class="title">Plano 1</div>
            
<div>
    <table>
    <tr *ngFor="let Mesas1 of mesas1.slice(0,5)" class="d-inline p-2">
        <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" id="imgHor" style="cursor: grab;"> <h6 id="posicionId">{{Mesas1.numeroMesa}}</h6></td>
 
    </tr>
</table>
    
 </div>  
 <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664027112/APP%20PARRILLA%20EL%20FOGON/barra_separadora_iieqg8.png" width="53%">
 <div>
    <div id="espacioArriba">
        <div>
            <table>
                <tr *ngFor="let Mesas1 of mesas1.slice(6,11)" class="d-inline p-2">
                    <td><img [src]="[Mesas1.imagen]" id="imgHor"> <h6 id="posicionId">{{Mesas1.numeroMesa}}</h6></td>
                    </tr>
            </table>
        </div>
        <div style="margin-top: 50px;">
            <table>
                <tr *ngFor="let Mesas1 of mesas1.slice(11,16)" class="d-inline p-2">
                    <td><img [src]="[Mesas1.imagen]" id="imgHor"> <h6 id="posicionId">{{Mesas1.numeroMesa}}</h6></td>
                    </tr>
            </table>        
        </div>
        
     </div>  
     <img class="d-inline p-2" id="espacioArriba" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664027112/APP%20PARRILLA%20EL%20FOGON/barra_separadora_iieqg8.png" width="53%">
     <div id="espacioArriba">
        <table>
            <tr *ngFor="let Mesas1 of mesas1.slice(16,21)" class="d-inline p-2">
                <td><img [src]="[Mesas1.imagen]" id="imgHor"> <h6 id="posicionId">{{Mesas1.numeroMesa}}</h6></td>
                </tr>
        </table>    
    </div>
    </div>
        </div>
        <div class="right">
            <div class="title">Plano 2</div>
           
            <div>
                <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664204140/APP%20PARRILLA%20EL%20FOGON/barra_diagonal_ro1tez.png" width="53%">
                <div style="margin-top: -170px">
                    <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664025153/APP%20PARRILLA%20EL%20FOGON/mesa_vertical_cguwnn.png" width="70" height="120" style="margin: 10px 10px;">
               </div>
           <div style="margin-top: -170px">
                <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664204590/APP%20PARRILLA%20EL%20FOGON/mesa_diagonal_kap4bl.png" width="130" height="110" style="margin-left: 120px; margin-top: 40px;">
           </div>
           <div style="margin-top: -170px">
            <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664204590/APP%20PARRILLA%20EL%20FOGON/mesa_diagonal_kap4bl.png" width="130" height="110" style="margin-left: 250px; margin-top: 115px; margin-bottom: 50px;">
       </div>
       <div>
        <img class="d-inline p-2" style="position: absolute; margin-left: 350px; margin-top: -100px;" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664206592/APP%20PARRILLA%20EL%20FOGON/barra_vertical_abbmaz.png" width="17%">
       </div>
                <div id="espacioArriba">
                    <div>
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 10px;">
                    </div>
                    <div>
                       <div>
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 10px;">
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 120px;">
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 120px; margin-left: -50px;">
                    </div>
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 10px;">
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 120px;">
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 120px; margin-left: -50px;">

                    </div>
                    <div>
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 10px;">
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 120px;">
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 120px; margin-left: -50px;">
                    </div>
                    <div>
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664025153/APP%20PARRILLA%20EL%20FOGON/mesa_vertical_cguwnn.png" width="70" height="120" style="margin: 10px 10px;">
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664025153/APP%20PARRILLA%20EL%20FOGON/mesa_vertical_cguwnn.png" width="70" height="120" style="margin: 10px 10px;">
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664025153/APP%20PARRILLA%20EL%20FOGON/mesa_vertical_cguwnn.png" width="70" height="120" style="margin: 10px 10px;">
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 10px;">
                        <img class="d-inline p-2" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664023857/APP%20PARRILLA%20EL%20FOGON/mesas_jf2twc.png" width="120" height="70" style="margin: 10px 120px; margin-left: 42px;">
                    </div>
                                        
                 </div>  
                 
                </div>
        </div>
    </div>    

