#espacioArriba{
    margin-top: -50px;
}

h2{
    color: red;
    align-self: center;
    margin-left: 50px;
}
.content {
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;   
    padding-bottom: 10px;
    background-color: steelblue;
    width: 100%;
    color: white;
}

.left {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    border: steelblue solid 1px;
    height: auto;
}

.right {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    border: steelblue solid 1px;
    height: auto;
}

.imgHor{
    width: 25px; 
    height: 68px;
    
}

.posicionId{
    
    color: red;
    font-size: 16px;
    font-family: Impact;
}

#idfila1{
    margin-left: 25px;
}
#idfila2{
    margin-left: -5px;
    margin-top: -690px;
}
#idfila3{
    margin-left: 45px;
    margin-top: -620px;
}
#idfila4{
    margin-left: -28px;
    margin-top: -110px;
}
#idfila5{
    margin-left: 0px;
    margin-top: 0px;
}

#parrillaybarra{
    margin-top: 10px;
    width: 140px; 
    height: 140px;
}
#fila1A{
    margin-top: -60px;
    margin-left: 20px;
}
#fila2A{
    margin-top: -1350px;
    margin-left: -35px;
    margin-right: 70px;
}
#fila3A{
    margin-top: -1200px;
    margin-left: -190px;
    margin-right: 30px;
    
}
#fila4A{
    margin-top: -300px;
    margin-left: -40px;
    margin-right: 80px;
}

#linea1{
    width: 320px;
    height: 100px; 
    margin-left: -15px;
    margin-bottom: 450px;
}
#linea2{
    width: 100px;
    height: 220px; 
    margin-left: 250px;
    margin-top: -1220px;
}
#linea3{
    width: 450px;
    height: 100px; 
    margin-left: -15px;
    margin-top: -725px;
}
#linea4{
    width: 500px;
    height: 100px; 
    margin-left: -695px;
    margin-top: -590px;
}
#linea5{
    width: 100px;
    height: 450px; 
    margin-left: -150px;
    margin-top: -1000px;
}
#linea6{
    width: 100px;
    height: 230px; 
    margin-left: -100px;
    margin-top: -355px;
}
#contenedor3{
    margin-left: -135px;
    
}
.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  #mesa5{
    margin-left: -185px;
    margin-top: -1200px;
   }
   #idmesa5{
   margin-left: -155px;
   margin-top: -620px;
   }
   #mesa6{
    margin-left: -125px;
    margin-top: -1200px;
   }
   #idmesa6{
   margin-left: -95px;
   margin-top: -620px;
   }
   #mesa7{
    margin-left: -218px;
    margin-top: -1050px;
   }
   #idmesa7{
   margin-left: -190px;
   margin-top: -545px;
   }
   #mesa8{
    margin-left: -155px;
    margin-top: -1050px;
   }
   #idmesa8{
    margin-left: -125px;
    margin-top: -545px;
   }

  #mesa9{
   margin-left: -470px;
   margin-top: -930px;
  }
  #idmesa9{
  margin-left: -465px;
  margin-top: -440px;
  }
   #mesa10{
    margin-left: -380px;
    margin-top: -930px;
  }
  #idmesa10{
    margin-left: -375px;
    margin-top: -440px;
  }
  #mesa11{
    margin-left: -590px;
    margin-top: -730px;
}
#idmesa11{
   margin-left: -580px;
   margin-top: -340px;
 }
 #mesa12{
    margin-left: -525px;
    margin-top: -730px;
}
#idmesa12{
    margin-left: -515px;
    margin-top: -340px;
 } 
 #mesa13{
    margin-left: -465px;
    margin-top: -730px;
}
#idmesa13{
    margin-left: -455px;
    margin-top: -340px;
 }  
 #mesa14{
    margin-left: -400px;
    margin-top: -730px;
}
#idmesa14{
    margin-left: -390px;
    margin-top: -340px;
 }  
 #mesa15{
    margin-left: -340px;
    margin-top: -730px;
}
#idmesa15{
    margin-left: -335px;
    margin-top: -340px;
 }  
 #mesa16{
    margin-left: -475px;
    margin-top: -500px;
}
#idmesa16{
    margin-left: -465px;
    margin-top: -225px;
 }  
 #mesa17{
    margin-left: -410px;
    margin-top: -500px;
}
#idmesa17{
    margin-left: -400px;
    margin-top: -225px;
 }  
 #mesa18{
    margin-left: -350px;
    margin-top: -500px;
}
#idmesa18{
    margin-left: -340px;
    margin-top: -225px;
 } 
 #mesa19{
    margin-left: -285px;
    margin-top: -500px;
}
#idmesa19{
    margin-left: -275px;
    margin-top: -225px;
 } 
 #mesa20{
    margin-left: -225px;
    margin-top: -500px;
}
#idmesa20{
    margin-left: -215px;
    margin-top: -225px;
 } 
 
#barradelfondo{
    margin-top: -160px;
    margin-left: -520px;
    width: 400px; 
    height: 100px;   
    position: absolute;
}
#mesa21{
    margin-left: 160px;
    margin-top: -240px;
}
#idmesa21{
    margin-left: 165px;
    margin-top: -95px;
}
#mesa22{
    margin-left: -100px;
    margin-top: -240px;
}
#idmesa22{
    margin-left: -95px;
    margin-top: -95px;
}
#mesa23{
    margin-left: -175px;
    margin-top: -240px;
}
#idmesa23{
    margin-left: -170px;
    margin-top: -95px;
}
#mesa24{
    margin-left: -250px;
    margin-top: -240px;
}
#idmesa24{
    margin-left: -245px;
    margin-top: -95px;
}
#mesa25{
    margin-left: -270px;
    margin-top: -520px;
    
}
#idmesa25{
    margin-left: -265px;
    margin-top: -234px;
}
#mesa26{
    margin-left: -285px;
    margin-top: -706px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
#idmesa26{
    margin-left: -280px;
    margin-top: -350px;
}
#mesa27{
    margin-left: -300px;
    margin-top: -900px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
#idmesa27{
    margin-left: -295px;
    margin-top: -446px;
}
#mesa28{
    margin-left: -315px;
    margin-top: -1100px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
#idmesa28{
    margin-left: -310px;
    margin-top: -546px;
}
#mesa29{
    margin-left: -160px;
    margin-top: -520px;
}
#idmesa29{
    margin-left: -155px;
    margin-top: -235px;
}
#mesa30{
    margin-left: -175px;
    margin-top: -706px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
#idmesa30{
    margin-left: -170px;
    margin-top: -350px;
}
#mesa31{
    margin-left: -190px;
    margin-top: -890px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
#idmesa31{
    margin-left: -185px;
    margin-top: -440px;
    
}
#linea7{
    width: 330px;
    height: 180px; 
    margin-left: -435px;
    margin-top: -1320px;
}
#linea8{
    width: 100px;
    height: 580px; 
    margin-left: -70px;
    margin-top: -680px;
}
#mesa32{
    margin-left: -130px;
    margin-top: -1200px;
    transform:rotate(110deg);
    -ms-transform:rotate(110deg); /* IE 9 */
-webkit-transform:rotate(110deg); /* Opera, Chrome, and Safari */
}
#idmesa32{
    margin-left: -130px;
    margin-top: -595px;
    
}
#mesa33{
    margin-left: -230px;
    margin-top: -1260px;
    transform:rotate(110deg);
    -ms-transform:rotate(110deg); /* IE 9 */
-webkit-transform:rotate(110deg); /* Opera, Chrome, and Safari */
}
#idmesa33{
    margin-left: -230px;
    margin-top: -625px;
    
}
#mesa34{
    margin-left: -330px;
    margin-top: -1320px;
    transform:rotate(110deg);
    -ms-transform:rotate(110deg); /* IE 9 */
-webkit-transform:rotate(110deg); /* Opera, Chrome, and Safari */
}
#idmesa34{
    margin-left: -330px;
    margin-top: -655px;
    
}
#mesa35{
    margin-left: -60px;
    margin-top: -240px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
#idmesa35{
    margin-left: -55px;
    margin-top: -115px;
}
#mesa36{
    margin-left: 50px;
    margin-top: -350px;
  
}
#idmesa36{
    margin-left: 55px;
    margin-top: -150px;
}
#mesa37{
    margin-left: -165px;
    margin-top: -440px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
#idmesa37{
    margin-left: -160px;
    margin-top: -215px;
}
#mesa38{
    margin-left: -60px;
    margin-top: -640px;
  
}
#idmesa38{
    margin-left: -55px;
    margin-top: -295px;
}
#mesa39{
    margin-left: -200px;
    margin-top: -750px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
#idmesa39{
    margin-left: -195px;
    margin-top: -370px;
}
#mesa40{
    margin-left: -95px;
    margin-top: -940px;
  
}
#idmesa40{
    margin-left: -90px;
    margin-top: -440px;
}
#mesa41{
    margin-left: -235px;
    margin-top: -1080px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
#idmesa41{
    margin-left: -230px;
    margin-top: -535px;
}
#mesa42{
    margin-left: -390px;
    margin-top: -1335px;
    transform:rotate(110deg);
    -ms-transform:rotate(110deg); /* IE 9 */
-webkit-transform:rotate(110deg); /* Opera, Chrome, and Safari */
}
#idmesa42{
    margin-left: -392px;
    margin-top: -665px;
    
}
#mesa43{
    margin-left: -490px;
    margin-top: -1385px;
    transform:rotate(110deg);
    -ms-transform:rotate(110deg); /* IE 9 */
-webkit-transform:rotate(110deg); /* Opera, Chrome, and Safari */
}
#idmesa43{
    margin-left: -490px;
    margin-top: -690px;
    
}
#mesa44{
    margin-left: -170px;
    margin-top: -1230px;
    transform:rotate(110deg);
    -ms-transform:rotate(110deg); /* IE 9 */
-webkit-transform:rotate(110deg); /* Opera, Chrome, and Safari */
}
#idmesa44{
    margin-left: -170px;
    margin-top: -605px;
}
#mesa45{
    margin-left: -270px;
    margin-top: -1320px;
    transform:rotate(110deg);
    -ms-transform:rotate(110deg); /* IE 9 */
-webkit-transform:rotate(110deg); /* Opera, Chrome, and Safari */
}
#idmesa45{
    margin-left: -270px;
    margin-top: -650px;
}
#mesa46{
    margin-left: -380px;
    margin-top: -1390px;
    transform:rotate(110deg);
    -ms-transform:rotate(110deg); /* IE 9 */
-webkit-transform:rotate(110deg); /* Opera, Chrome, and Safari */
}
#idmesa46{
    margin-left: -380px;
    margin-top: -690px;
}
#recuadrofinal{
    position: absolute;
    width: 1000px;
    height: 700px;
    margin-top: -740px ;
    margin-left: -1120px;
    z-index: -1;
}