#espacioArriba {
  margin-top: -50px;
}

h2 {
  color: red;
  align-self: center;
  margin-left: 50px;
}
.content {
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: steelblue;
  width: 100%;
  color: white;
}

.left {
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 57px;
  float: left;
  position: relative;
  width: 45%;
  border: steelblue solid 1px;
  height: auto;
}

.right {
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 10px;
  position: relative;
  float: left;
  width: 45%;
  border: steelblue solid 1px;
  height: auto;
}

/*Agregado de un spinner de carga de linea 78 a 97*/
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  border-top: 3px solid #3498db;
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
