<div class="row">
        <h2 style="text-align: center;">Distribucion de las mesas</h2>
        <div class="col-12">
            <div class="title">Plano</div>
            
<div>
    <div>
        
        <img id="parrillaybarra" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1668219584/APP%20PARRILLA%20EL%20FOGON/parrilla_y_barra_kzmscj.png">
        <!--mesas 14 y 15-->
            <tr *ngFor="let Mesas1 of mesas1.slice(0,2)" class="d-inline p-2">
                <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="fila1A" style="cursor: grab;"> <h6 class="posicionId" id="idfila1">{{Mesas1.numeroMesa}}</h6></td>
            </tr>
        
        
    </div>
    <div>
    <img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664027112/APP%20PARRILLA%20EL%20FOGON/barra_separadora_iieqg8.png" id="linea1">
    </div>
    <div>
    <img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664206592/APP%20PARRILLA%20EL%20FOGON/barra_vertical_abbmaz.png" id="linea2">
    <!--mesas 18 y 21-->
    <tr *ngFor="let Mesas1 of mesas1.slice(2,4)" class="d-inline p-2">
        <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="fila2A" style="cursor: grab;"> <h6 class="posicionId" id="idfila2">{{Mesas1.numeroMesa}}</h6></td>
    </tr>
    <!--mesa 17 -->
    <tr *ngFor="let Mesas1 of mesas1.slice(4,5)" class="d-inline p-2">
        <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa5" style="cursor: grab;"> <h6 class="posicionId" id="idmesa5">{{Mesas1.numeroMesa}}</h6></td>
    </tr>
        <!--mesa 20 -->
    <tr *ngFor="let Mesas1 of mesas1.slice(5,6)" class="d-inline p-2">
        <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa6" style="cursor: grab;"> <h6 class="posicionId" id="idmesa6">{{Mesas1.numeroMesa}}</h6></td>
    </tr>
<!--mesa 16 -->
    <tr *ngFor="let Mesas1 of mesas1.slice(6,7)" class="d-inline p-2">
        <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa7" style="cursor: grab;"> <h6 class="posicionId" id="idmesa7">{{Mesas1.numeroMesa}}</h6></td>
    </tr>
    <!--mesa 19 -->
    <tr *ngFor="let Mesas1 of mesas1.slice(7,8)" class="d-inline p-2">
        <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa8" style="cursor: grab;"> <h6 class="posicionId" id="idmesa8">{{Mesas1.numeroMesa}}</h6></td>
    </tr>
    <!--mesa 11 -->
        <tr *ngFor="let Mesas1 of mesas1.slice(8,9)" class="d-inline p-2" id="contenedor4">
            <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa9" style="cursor: grab;"> <h6 class="posicionId" id="idmesa9">{{Mesas1.numeroMesa}}</h6></td>
        </tr>
        <!--mesa 12 -->
        <tr *ngFor="let Mesas1 of mesas1.slice(9,10)" class="d-inline p-2" id="contenedor4">
            <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa10" style="cursor: grab;"> <h6 class="posicionId" id="idmesa10">{{Mesas1.numeroMesa}}</h6></td>
        </tr>
        <!--mesa 6 -->
        <tr *ngFor="let Mesas1 of mesas1.slice(10,11)" class="d-inline p-2">
            <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa11" style="cursor: grab;"> <h6 class="posicionId" id="idmesa11">{{Mesas1.numeroMesa}}</h6></td>
        </tr>
        <!--mesa 7 -->
        <tr *ngFor="let Mesas1 of mesas1.slice(11,12)" class="d-inline p-2">
            <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa12" style="cursor: grab;"> <h6 class="posicionId" id="idmesa12">{{Mesas1.numeroMesa}}</h6></td>
        </tr>
        <!--mesa 8 -->
        <tr *ngFor="let Mesas1 of mesas1.slice(12,13)" class="d-inline p-2">
            <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa13" style="cursor: grab;"> <h6 class="posicionId" id="idmesa13">{{Mesas1.numeroMesa}}</h6></td>
        </tr>
     <!--mesa 9 -->
     <tr *ngFor="let Mesas1 of mesas1.slice(13,14)" class="d-inline p-2">
        <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa14" style="cursor: grab;"> <h6 class="posicionId" id="idmesa14">{{Mesas1.numeroMesa}}</h6></td>
    </tr>
    <!--mesa 10 -->
    <tr *ngFor="let Mesas1 of mesas1.slice(14,15)" class="d-inline p-2">
        <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa15" style="cursor: grab;"> <h6 class="posicionId" id="idmesa15">{{Mesas1.numeroMesa}}</h6></td>
    </tr>
    <img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664027112/APP%20PARRILLA%20EL%20FOGON/barra_separadora_iieqg8.png" id="linea4">
 <!--mesa 1 -->
 <tr *ngFor="let Mesas1 of mesas1.slice(15,16)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa16" style="cursor: grab;"> <h6 class="posicionId" id="idmesa16">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 2-->
<tr *ngFor="let Mesas1 of mesas1.slice(16,17)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa17" style="cursor: grab;"> <h6 class="posicionId" id="idmesa17">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 3-->
<tr *ngFor="let Mesas1 of mesas1.slice(17,18)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa18" style="cursor: grab;"> <h6 class="posicionId" id="idmesa18">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 4-->
<tr *ngFor="let Mesas1 of mesas1.slice(18,19)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa19" style="cursor: grab;"> <h6 class="posicionId" id="idmesa19">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 5-->
<tr *ngFor="let Mesas1 of mesas1.slice(19,20)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa20" style="cursor: grab;"> <h6 class="posicionId" id="idmesa20">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664206592/APP%20PARRILLA%20EL%20FOGON/barra_vertical_abbmaz.png" id="linea5">
<img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1668526417/APP%20PARRILLA%20EL%20FOGON/BARRA_or4uml.png" id="barradelfondo">
<img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664206592/APP%20PARRILLA%20EL%20FOGON/barra_vertical_abbmaz.png" id="linea6">
<!--mesa 28-->
<tr *ngFor="let Mesas1 of mesas1.slice(20,21)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa21" style="cursor: grab;"> <h6 class="posicionId" id="idmesa21">{{Mesas1.numeroMesa}}</h6></td>
</tr> 
<!--mesa 29-->
<tr *ngFor="let Mesas1 of mesas1.slice(21,22)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa22" style="cursor: grab;"> <h6 class="posicionId" id="idmesa22">{{Mesas1.numeroMesa}}</h6></td>
</tr> 
<!--mesa 30-->
<tr *ngFor="let Mesas1 of mesas1.slice(22,23)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa23" style="cursor: grab;"> <h6 class="posicionId" id="idmesa23">{{Mesas1.numeroMesa}}</h6></td>
</tr> 
<!--mesa 31-->
<tr *ngFor="let Mesas1 of mesas1.slice(23,24)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa24" style="cursor: grab;"> <h6 class="posicionId" id="idmesa24">{{Mesas1.numeroMesa}}</h6></td>
</tr> 
<!--mesa 32-->
<tr *ngFor="let Mesas1 of mesas1.slice(24,25)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa25" style="cursor: grab;"> <h6 class="posicionId" id="idmesa25">{{Mesas1.numeroMesa}}</h6></td>
</tr> 
<!--mesa 33-->
<tr *ngFor="let Mesas1 of mesas1.slice(25,26)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa26" style="cursor: grab;"> <h6 class="posicionId" id="idmesa26">{{Mesas1.numeroMesa}}</h6></td>
</tr> 
<!--mesa 34-->
<tr *ngFor="let Mesas1 of mesas1.slice(26,27)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa27" style="cursor: grab;"> <h6 class="posicionId" id="idmesa27">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 35-->
<tr *ngFor="let Mesas1 of mesas1.slice(27,28)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa28" style="cursor: grab;"> <h6 class="posicionId" id="idmesa28">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 27-->
<tr *ngFor="let Mesas1 of mesas1.slice(28,29)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa29" style="cursor: grab;"> <h6 class="posicionId" id="idmesa29">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 26-->
<tr *ngFor="let Mesas1 of mesas1.slice(29,30)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa30" style="cursor: grab;"> <h6 class="posicionId" id="idmesa30">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 25-->
<tr *ngFor="let Mesas1 of mesas1.slice(30,31)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa31" style="cursor: grab;"> <h6 class="posicionId" id="idmesa31">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1668713189/APP%20PARRILLA%20EL%20FOGON/barradiagonal_raqscp.png" id="linea7">
<img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1664206592/APP%20PARRILLA%20EL%20FOGON/barra_vertical_abbmaz.png" id="linea8">
<!--mesa 24-->
<tr *ngFor="let Mesas1 of mesas1.slice(31,32)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa32" style="cursor: grab;"> <h6 class="posicionId" id="idmesa32">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 23-->
<tr *ngFor="let Mesas1 of mesas1.slice(32,33)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa33" style="cursor: grab;"> <h6 class="posicionId" id="idmesa33">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 22-->
<tr *ngFor="let Mesas1 of mesas1.slice(33,34)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa34" style="cursor: grab;"> <h6 class="posicionId" id="idmesa34">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 41-->
<tr *ngFor="let Mesas1 of mesas1.slice(34,35)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa35" style="cursor: grab;"> <h6 class="posicionId" id="idmesa35">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 40-->
<tr *ngFor="let Mesas1 of mesas1.slice(35,36)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa36" style="cursor: grab;"> <h6 class="posicionId" id="idmesa36">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 40-->
<tr *ngFor="let Mesas1 of mesas1.slice(36,37)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa37" style="cursor: grab;"> <h6 class="posicionId" id="idmesa37">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 43-->
<tr *ngFor="let Mesas1 of mesas1.slice(37,38)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa38" style="cursor: grab;"> <h6 class="posicionId" id="idmesa38">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 39-->
<tr *ngFor="let Mesas1 of mesas1.slice(38,39)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa39" style="cursor: grab;"> <h6 class="posicionId" id="idmesa39">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 44-->
<tr *ngFor="let Mesas1 of mesas1.slice(39,40)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa40" style="cursor: grab;"> <h6 class="posicionId" id="idmesa40">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 38-->
<tr *ngFor="let Mesas1 of mesas1.slice(40,41)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa41" style="cursor: grab;"> <h6 class="posicionId" id="idmesa41">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 37-->
<tr *ngFor="let Mesas1 of mesas1.slice(41,42)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa42" style="cursor: grab;"> <h6 class="posicionId" id="idmesa42">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 36-->
<tr *ngFor="let Mesas1 of mesas1.slice(42,43)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa43" style="cursor: grab;"> <h6 class="posicionId" id="idmesa43">{{Mesas1.numeroMesa}}</h6></td>
</tr>
<!--mesa 46-->
<tr *ngFor="let Mesas1 of mesas1.slice(43,44)" class="d-inline p-2">
    <td><img [src]="[Mesas1.imagen]" routerLink="agregarcomanda/{{Mesas1.id}}" class="imgHor" id="mesa44" style="cursor: grab;"> <h6 class="posicionId" id="idmesa44">{{Mesas1.numeroMesa}}</h6></td>
</tr>
 </div>  
    </div>
        </div>

    </div>    

