<div class="container fondoEdit">
    <div class="row" id="textosColor">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                
                <div class="form-group">
                    <label for="numeroMesa"> Número de Mesa</label>
                    <input type="text" class="form-control" id="numeroMesa" name="numeroMesa" [(ngModel)]="numeroMesa" required>
                </div>
                  <div class="form-group">
                    <label for="comensales"> Cantidad de comensales en esta mesa</label>
                    <input type="text" class="form-control" id="comensales" name="comensales" [(ngModel)]="comensales" required>
                </div>
                
                <button class="btn btn-success" id="botonAgregar">
                    AGREGAR MESA
                </button>
                <button class="btn btn-danger" id="botonAgregar" (click)="cancelar()">
                    CANCELAR
                </button>
                
            </form>
        </div>
    </div>
</div>