.espaciado-botones{
    margin-left: 10px;
    margin-right: 10px;
}
#tituloTicket{
    text-align: center;
    color: red;
    font-family: impact;
    background: tomato;
}
#tituloTicket2{
    text-align: center;
    color: darkgreen;
    font-family: impact;
    background: limegreen;
}
#diferencia{
    text-align: center;
    color: blue;
    font-family: impact;
    background: #889ccf;
}
#tituloTicket3{
    text-align: center;
    color: chocolate;
    font-family: impact;
    background: yellow;
}
/* El Css del Ticket */
.vistaimprimir {
    font-size: 14px;
    font-family: Arial;
}


#tableticket {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 118px;
    max-width: 118px;
}

td.cantidad,
th.cantidad {
    width: 63px;
    max-width: 63px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 90px;
    max-width: 90px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 228px;
    max-width: 228px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print{
    .oculto-impresion, .oculto-impresion *{
      display: none !important;
    }
  }

.btn-espacio{
    margin-top: 10px;
    margin-left: 5px;
}